<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/html.css">
  <title>HTML exportieren</title>
</head>
<body>

  <header class="jumbo-header">
    <h1>
      <!-- <img src="/img/icon48_white.png" alt=""> <span id="title">< %= title || '' %></span> HTML Shownotes -->
      <img src="/img/icon48_white.png" alt=""> <span id="title"></span> HTML Shownotes
    </h1>
  </header>


  <div class="form-horizontal">

    <div class="form-group">
      <label class="control-label control-label-static">Optionen:</label>
      <div class="form-control-wrap">
        <label for="as-ul">
          <input id="as-ul" type="checkbox"> als Liste ausgeben
        </label>
        <p class="help-block">Die Shownotes werden als unsortierte Liste (<code>ul</code>) ausgegeben.</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control-wrap form-group-no-label">
        <label for="show-times">
          <input id="show-times" type="checkbox"> Zeiten anzeigen
        </label>
        <label for="offset" class="label-group-last">
          (Startzeit: <input type="text" id="offset" class="form-control" value="00:00:00" size="8">)
        </label>
      </div>
    </div>

    <div class="form-group form-group-no-label form-group-close-section">
      <div class="form-control-wrap">
        <label for="as-ul">
          <input id="as-ul" type="checkbox"> Links in neuen Tabs öffnen
        </label>
        <p class="help-block">Fügt jedem Link das Attribut <code>target="_blank"</code> hinzu.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="sourcecode" class="control-label control-label-static">Quellcode:</label>
      <div class="form-control-wrap">
        <textarea id="sourcecode" class="form-control"></textarea>
      </div>
    </div>

  </div>


  <div id="markup-container" data-start="<%= start %>" data-offset="<%= offset || 0 %>">
    <ul>
      <% items.forEach(function(item) { %>
        <li>
          <span class="time" data-time="<%= item.time %>"></span>
          <% if (item.isText) { %>
            <%= item.title %>
          <% } else { %>
            <a href="<%= item.url %>"><%= item.title %></a>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </div>


  <footer class="footer-author">
    <a href="http://leitsch.org">Showmator by Lukas Leitsch</a> &bull; <a href="https://leitsch.org/projects/showmator">Changelog</a>
  </footer>

  <script src="/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/formatTime.js"></script>
  <script src="/js/html.js"></script>
</body>
</html>