<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/live.css">
  <title>Live-Shownotes</title>
</head>

<body class="page-live<% if (items.length < 1) { %> on-empty<% } %>" data-public-slug="<%= publicSlug %>">

  <header class="jumbo-header">
    <h1>
      <img src="/img/icon48_white.png" alt=""> <span id="title"><%= title || "Live" %></span> Shownotes
    </h1>
  </header>


  <p class="post-jumbo-info text-muted">
    (Seite aktualisiert automatisch, <strong id="counter">0</strong> aktive Besucher)
  </p>


  <div class="alert alert-info show-on-empty">
    Bitte noch etwas Geduld. Im Moment sind noch keine Shownotes eingetragen.
  </div>


  <ul id="result">
    <% items.forEach(function(item) { %>
      <li class="entry" id="entry-<%= item.id %>">
        <span class="time" data-time="<%= item.time %>"></span>
        <% if (!item.isText) { %>
          <a class="entry-text" href="<%= item.url %>" target="_blank"><%= item.title %></a>
        <% } else { %>
          <span class="entry-text"><%= item.title %></span>
        <% } %>
      </li>
    <% }); %>
  </ul>


  <div class="form-inline">
    <input type="checkbox" name="auto-open" id="auto-open" />
    <label for="auto-open">neu hinzugefügte Links automatisch öffnen</label>
  </div>


  <footer class="footer-author text-muted">
    Shownotes werden mit <a href="http://showmator.com" target="_blank">Showmator</a> erstellt
    &bull;
    <a href="http://showmator.com#support" target="_blank">Unterstützen</a>   
  </footer>


  <script src="/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/live.js"></script>
</body>
</html>