<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/live.css">
  <title>Live-Shownotes</title>
</head>

<body class="page-live<% if (items.length < 1) { %> on-empty<% } %>" data-publicslug="<%= publicslug %>">


  <header class="jumbo-header">
    <h1>
      <img src="/img/icon48_white.png" alt=""> <span id="title"><%= title || "Live" %></span> Shownotes
    </h1>
  </header>


  <p class="post-jumbo-info text-muted">
    (Seite aktualisiert automatisch, <strong id="counter">0</strong> aktive Besucher)
  </p>


  <div class="alert alert-info">
    Bitte noch etwas Geduld. Im Moment sind noch keine Shownotes eingetragen.
  </div>

  
  <ul id="result">
    <% items.forEach(function(item) { %>
      <li data-time="<%= item.time %>">
        <span class="time"></span>
        <!-- TODO 'null' as string? -->
        <% if (!item.isText) { %>
          <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
        <% } else { %>
          <%= item.title %>
        <% } %>
      </li>
    <% }); %>
  </ul>


  <div class="form-inline">
    <input type="checkbox" name="auto-open" id="auto-open" />
    <label for="auto-open">neu hinzugefügte Links automatisch öffnen</label>
  </div>


  <hr>

  <footer class="text-muted">
    Shownotes werden mit
    <a href="https://leitsch.org/projects/showmator" target="_blank">
      Showmator
    </a> 
    erstellt   
  </footer>


  <script src="/js/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/live.js"></script>
</body>
</html>